---
layout: default
title: Posts By Category
permalink: /category
---
<h1>カテゴリ別投稿一覧</h1>

<section class="posts-by-categories">
    {% for category in site.categories %}
        <h3 id="{{ category[0] }}">{{ category[0] | capitalize }}</h3>
        <ul>
            {% assign pages_list = category[1] %}
            {% for post in pages_list %}
            {% if post.title != null %}
            {% if group == null or group == post.group %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% assign pages_list = nil %}
            {% assign group = nil %}
        </ul>
    {% endfor %}
</section>